# Backend и API
fastapi
uvicorn[standard]
python-multipart
aiofiles
pandas
numpy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
pydantic[email]


asyncpg>=0.26.0  # async Postgres driver
sqlalchemy
alembic          # for migrations, optional
aiobotocore      # async S3 client
psycopg2-binary  # Postgres driver
minio>=7.1.0  # S3 client for MinIO
# SDV для числовых данных
sdv

greenlet>=3.0.0

# Markov цепи для текста
markovify

# Hugging Face + PyTorch для генерации текста
transformers
torch

# Для BERT-перефразирования (Parrot)
nltk
sentencepiece

