# Backend и API
fastapi
uvicorn[standard]
python-multipart
aiofiles
pandas
numpy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
pydantic[email]

sqlalchemy
alembic          # for migrations, optional
aiobotocore      # async S3 client
psycopg2-binary  # Postgres driver
minio   
# SDV для числовых данных
sdv

# Markov цепи для текста
markovify

# Hugging Face + PyTorch для генерации текста
transformers
torch

# Для BERT-перефразирования (Parrot)
nltk
sentencepiece
git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git
